root_directory: data
listen_port: 5993
grpc_listen_port: 5995
log_level: info
stop_grace_period: 0
wal_rotate_interval: 5
timezone: "America/New_York"

triggers:
  - module: ondiskagg.so
    on: "*/1Min/OHLCV"
    config:
      filter: "nasdaq"
      destinations:
        - 1D

  - module: stream.so
    on: "*/*/*"
    config:
      filter: "nasdaq"

bgworkers:
  - module: massive.so
    name: Massive
    config:
      api_key: "FIXME"
      base_url: "https://api.massive.com"
#      ws_server: "wss://socket.massive.com"
      ws_server: "wss://delayed.massive.com/stocks"
#      ws_server: "ws://127.0.0.1:8765"
      data_types:
        - bars
      ws_frequencies:
#        - 1Sec
        - 1Min
      symbols:
        - AAPL
        - SPY
      query_start:
        1Min: "2024-01-01"
        1D: "2024-01-01"
      backfill_batch_size: 50000
      backfill_adjusted: true
